<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xed.financing.wxgzh.mapper.usercompany.UserCompanyMapper">
	<!-- 获取借款人企业信息 -->
	<select id="getUserCompanyInfo" parameterType="userCompanyBean" resultType="userCompanyBean">
		SELECT
			uc.user_company_id userCompanyId,
			uc.user_id userId,
			GROUP_CONCAT(LEFT(uc.user_company_name, 2),'***',RIGHT(uc.user_company_name,3)) userCompanyName,
			uc.user_companey_city userCompaneyCity,
			GROUP_CONCAT(LEFT(uc.user_business_licence, 2),'***',RIGHT(uc.user_business_licence,3)) userBusinessLicence,
			uc.add_time addTime
		FROM
			mm_user_company uc
		WHERE
			uc.user_id = #{userId}
	</select>
</mapper>
