<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- 实体类,简称 -设置别名 -->
	<typeAliases>
		<typeAlias alias="subjectBean"
			type="com.xed.financing.wxgzh.model.subject.SubjectBean" />
		<typeAlias alias="accountInfo"
			type="com.xed.financing.wxgzh.model.accountinfo.AccountInfo" />
		<typeAlias alias="capitalDetail"
			type="com.xed.financing.wxgzh.model.capitaldetail.CapitalDetail" />
		<typeAlias alias="creditRecord"
			type="com.xed.financing.wxgzh.model.creditrecord.CreditRecord" />
		<typeAlias alias="accountInvest"
			type="com.xed.financing.wxgzh.model.accountinvest.AccountInvest" />
		<typeAlias alias="accountCapital"
			type="com.xed.financing.wxgzh.model.accountcapital.AccountCapital" />
		<typeAlias alias="emailCheck"
			type="com.xed.financing.wxgzh.model.emailcheck.EmailCheck" />
		<typeAlias alias="capitalBean"
			type="com.xed.financing.wxgzh.model.capital.CapitalBean" />
		<typeAlias alias="couponBean"
			type="com.xed.financing.wxgzh.model.coupon.CouponBean" />
		<typeAlias alias="investRecordBean"
			type="com.xed.financing.wxgzh.model.investrecord.InvestRecordBean" />
		<typeAlias alias="accountScoreBean"
			type="com.xed.financing.wxgzh.model.accountscore.AccountScoreBean" />
		<typeAlias alias="goodsInfoBean"
			type="com.xed.financing.wxgzh.model.goodsinfo.GoodsInfoBean" />
		<typeAlias alias="goodsOrderBean"
			type="com.xed.financing.wxgzh.model.goodsorder.GoodsOrderBean" />
		<typeAlias alias="signInBean"
			type="com.xed.financing.wxgzh.model.signin.SignInBean" />
		<typeAlias alias="messageBean"
			type="com.xed.financing.wxgzh.model.message.MessageBean" />
		<typeAlias alias="accountAddressBean"
			type="com.xed.financing.wxgzh.model.accountaddress.AccountAddressBean" />
		<typeAlias alias="autobidBean"
			type="com.xed.financing.wxgzh.model.autobid.AutobidInfo" />
		<typeAlias alias="couponInfoBean"
			type="com.xed.financing.wxgzh.model.couponInfo.CouponInfoBean" />
		<typeAlias alias="couponDetailBean"
			type="com.xed.financing.wxgzh.model.couponDetail.CouponDetail" />
		<typeAlias alias="cityBean"
			type="com.xed.financing.wxgzh.model.city.CityBean" />
		<typeAlias alias="accountBankcardBean"
			type="com.xed.financing.wxgzh.model.accountbankcard.AccountBankcardBean" />
		<typeAlias alias="payExportInfoBean"
			type="com.xed.financing.wxgzh.model.pay.PayExportInfoBean" />
		<typeAlias alias="payEntryInfoBean"
			type="com.xed.financing.wxgzh.model.pay.PayEntryInfoBean" />
		<typeAlias alias="drawBean"
			type="com.xed.financing.wxgzh.model.draw.DrawBean" />
		<typeAlias alias="bankBean"
			type="com.xed.financing.wxgzh.model.bank.BankBean" />
		<typeAlias alias="proposalRecordBean"
			type="com.xed.financing.wxgzh.model.proposalrecord.ProposalRecordBean" />
		<typeAlias alias="companyMessageBean"
			type="com.xed.financing.wxgzh.model.message.CompanyMessageBean" />
		<typeAlias alias="activityRecordBean"
			type="com.xed.financing.wxgzh.model.activityrecord.ActivityRecordBean" />
		<typeAlias alias="freedomSubjectBean"
			type="com.xed.financing.wxgzh.model.freedomsubject.FreedomSubjectBean" />
		<typeAlias alias="withdrawRecordBean"
			type="com.xed.financing.wxgzh.model.withdrawrecord.WithdrawRecordBean" />
		<typeAlias alias="playRecordBean"
			type="com.xed.financing.wxgzh.model.playRecord.PlayRecordBean" />
		<typeAlias alias="subjectDispersedBean"
			type="com.xed.financing.wxgzh.model.subjectdispersed.SubjectDispersedBean" />
		<typeAlias alias="subjectPicBean"
			type="com.xed.financing.wxgzh.model.subjectpic.SubjectPicBean" />
		<typeAlias alias="paramBean"
			type="com.xed.financing.wxgzh.model.param.ParamBean" />
		<typeAlias alias="crowdfundBean"
			type="com.xed.financing.wxgzh.model.crowdfund.CrowdfundBean" />
		<typeAlias alias="goodPicBean"
			type="com.xed.financing.wxgzh.model.goodpic.GoodPicBean" />
		<typeAlias alias="categoryBean"
			type="com.xed.financing.wxgzh.model.category.CategoryBean" />
		<typeAlias alias="savingsBean"
			type="com.xed.financing.wxgzh.model.savings.SavingsBean" />
		<typeAlias alias="runInfoBean"
			type="com.xed.financing.wxgzh.model.runinfo.RunInfoBean" />
		<typeAlias alias="messageCodeBean"
			type="com.xed.financing.wxgzh.model.messagecode.MessageCodeBean" />	
		<typeAlias alias="appconfigBean"
			type="com.xed.financing.wxgzh.model.appconfig.AppconfigBean" />
		<typeAlias alias="userCapitalBean"
			type="com.xed.financing.wxgzh.model.usercapital.UserCapitalBean" />
		<typeAlias alias="userCapitalDetailBean"
			type="com.xed.financing.wxgzh.model.usercapitaldetail.UserCapitalDetailBean" />
		<typeAlias alias="userMessageBean"
			type="com.xed.financing.wxgzh.model.usermessage.UserMessageBean" />
		<typeAlias alias="repaymentPlanBean"
			type="com.xed.financing.wxgzh.model.repaymentplan.RepaymentPlanBean" />
		<typeAlias alias="goldDetailsBean"
			type="com.xed.financing.wxgzh.model.golddetails.GoldDetailsBean" />
		<typeAlias alias="regGoldBean"
			type="com.xed.financing.wxgzh.model.reggold.RegGoldBean" />
		<typeAlias alias="goldTransferBean"
			type="com.xed.financing.wxgzh.model.goldtransfer.GoldTransferBean" />
		<typeAlias alias="goldpayInfoBean"
			type="com.xed.financing.wxgzh.model.goldpayinfo.GoldpayInfoBean" />
		<typeAlias alias="versionBean"
			type="com.xed.financing.wxgzh.model.version.VersionBean" />
		<typeAlias alias="analysisBean"
			type="com.xed.financing.wxgzh.model.analysis.AnalysisBean" />
		<typeAlias alias="profitReturnBean"
			type="com.xed.financing.wxgzh.model.profitreturn.ProfitReturnBean"/>
		<typeAlias alias="accountWithdrawBean"
			type="com.xed.financing.wxgzh.model.accountwithdraw.AccountWithdrawBean"/>
		<typeAlias alias="userHouseBean"
			type="com.xed.financing.wxgzh.model.userhouse.UserHouseBean"/>
		<typeAlias alias="userCompanyBean"
			type="com.xed.financing.wxgzh.model.usercompany.UserCompanyBean"/>
		<typeAlias alias="materialBean"
			type="com.xed.financing.wxgzh.model.material.MaterialBean"/>
	</typeAliases>

	<!-- 实体接口映射资源 -->
	<mappers>
		<mapper resource="com/xed/financing/wxgzh/mapper/subject/subjectMapper.xml" />
		<mapper resource="com/xed/financing/wxgzh/mapper/loginregister/LoginRegisterMapper.xml" />
		<mapper resource="com/xed/financing/wxgzh/mapper/capitaldetail/capitalDetailMapper.xml" />
		<mapper resource="com/xed/financing/wxgzh/mapper/bondtransfer/BondTransferMapper.xml" />
		<mapper resource="com/xed/financing/wxgzh/mapper/emailcheck/emailCheckMapper.xml" />	
		<mapper resource="com/xed/financing/wxgzh/mapper/capital/capitalMapper.xml" />
		<mapper resource="com/xed/financing/wxgzh/mapper/coupon/couponMapper.xml" />
		<mapper resource="com/xed/financing/wxgzh/mapper/investrecord/investRecordMapper.xml" />
		<mapper resource="com/xed/financing/wxgzh/mapper/accountInfo/AccountInfoMapper.xml" />
		<mapper resource="com/xed/financing/wxgzh/mapper/accountScore/AccountScoreMapper.xml" />
		<mapper resource="com/xed/financing/wxgzh/mapper/userlevel/UserLevelMapper.xml" />
		<mapper resource="com/xed/financing/wxgzh/mapper/goodsinfo/goodsInfoMapper.xml" />
		<mapper resource="com/xed/financing/wxgzh/mapper/goodsorder/goodsOrderMapper.xml" />
		<mapper resource="com/xed/financing/wxgzh/mapper/signin/SignInMapper.xml" />
		<mapper resource="com/xed/financing/wxgzh/mapper/message/messageMapper.xml" />
		<mapper resource="com/xed/financing/wxgzh/mapper/accountaddress/accountAddressMapper.xml" />
		<mapper resource="com/xed/financing/wxgzh/mapper/revenueSettlement/RevenueSettlementMapper.xml" />
		<mapper resource="com/xed/financing/wxgzh/mapper/autobid/autoBidMapper.xml" />
		<mapper resource="com/xed/financing/wxgzh/mapper/city/cityMapper.xml" />
		<mapper resource="com/xed/financing/wxgzh/mapper/accountbankcard/accountBankcardMapper.xml" />
		<mapper resource="com/xed/financing/wxgzh/mapper/pay/payExportInfoMapper.xml" />
		<mapper resource="com/xed/financing/wxgzh/mapper/payentry/payEntryInfoMapper.xml" />
		<mapper resource="com/xed/financing/wxgzh/mapper/draw/drawMapper.xml" />
		<mapper resource="com/xed/financing/wxgzh/mapper/recharge/RechargeMapper.xml" />
		<mapper resource="com/xed/financing/wxgzh/mapper/proposalrecord/proposalRecordMapper.xml" />
		<mapper resource="com/xed/financing/wxgzh/mapper/msgPrompt/messagePromptMapper.xml" />
		<mapper resource="com/xed/financing/wxgzh/mapper/activityrecord/ActivityRecordMapper.xml" />
		<mapper resource="com/xed/financing/wxgzh/mapper/freesubject/freedomSubjectMapper.xml" />
		<mapper resource="com/xed/financing/wxgzh/mapper/withdrawrecord/withdrawRecordMapper.xml" />
		<mapper resource="com/xed/financing/wxgzh/mapper/playRecord/playRecordMapper.xml" />
		<mapper resource="com/xed/financing/wxgzh/mapper/subjectdispersed/SubjectDispersedMapper.xml" />
		<mapper resource="com/xed/financing/wxgzh/mapper/subjectpic/subjectPicMapper.xml" />
		<mapper resource="com/xed/financing/wxgzh/mapper/datasplit/dataSplitMapper.xml" />
		<mapper resource="com/xed/financing/wxgzh/mapper/param/ParamMapper.xml" />
		<mapper resource="com/xed/financing/wxgzh/mapper/crowdfund/crowdfundMapper.xml" />
		<mapper resource="com/xed/financing/wxgzh/mapper/goodpic/goodpicMapper.xml" />
		<mapper resource="com/xed/financing/wxgzh/mapper/accountlevel/AccountLevelMapper.xml" />
		<mapper resource="com/xed/financing/wxgzh/mapper/category/categoryMapper.xml" />
		<mapper resource="com/xed/financing/wxgzh/mapper/savings/SavingsMapper.xml" />
		<mapper resource="com/xed/financing/wxgzh/mapper/runinfo/RunInfoMapper.xml" />
		<mapper resource="com/xed/financing/wxgzh/mapper/messagecode/messageCodeMapper.xml" />
		<mapper resource="com/xed/financing/wxgzh/mapper/appconfig/appconfigMapper.xml" />
		<mapper resource="com/xed/financing/wxgzh/mapper/userCapital/userCapitalMapper.xml" />
		<mapper resource="com/xed/financing/wxgzh/mapper/userCapitalDetail/userCapitalDetailMapper.xml" />
		<mapper resource="com/xed/financing/wxgzh/mapper/userMessage/userMessageMapper.xml" />
		<mapper resource="com/xed/financing/wxgzh/mapper/repaymentPlan/repaymentPlanMapper.xml" />
		<mapper resource="com/xed/financing/wxgzh/mapper/goldDetails/goldDetailsMapper.xml" />
		<mapper resource="com/xed/financing/wxgzh/mapper/reggold/regGoldMapper.xml" />
		<mapper resource="com/xed/financing/wxgzh/mapper/goldtransfer/goldTransferMapper.xml" />
		<mapper resource="com/xed/financing/wxgzh/mapper/goldpayInfo/goldpayInfoMapper.xml" />
		<mapper resource="com/xed/financing/wxgzh/mapper/version/versionMapper.xml" />
		<mapper resource="com/xed/financing/wxgzh/mapper/analysis/analysisMapper.xml" />
		<mapper resource="com/xed/financing/wxgzh/mapper/profitreturn/profitReturnMapper.xml" />
		<mapper resource="com/xed/financing/wxgzh/mapper/accountwithdraw/accountWithdrawMapper.xml" />
		<mapper resource="com/xed/financing/wxgzh/mapper/userhouse/userHouseMapper.xml" />
		<mapper resource="com/xed/financing/wxgzh/mapper/usercompany/userCompanyMapper.xml" />
		<mapper resource="com/xed/financing/wxgzh/mapper/material/materialMapper.xml" />
	</mappers>

</configuration>  